
/*
  Landing
*/

.background {
  position: fixed; 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('img/landing-bg.png');
  background-color: #FFFFF7;
  font-family: 'Raleway', sans-serif;
}

.MuiTypography-body1 {
  font-family: 'Raleway', sans-serif !important;
}

.body {
  margin: 15rem 3rem 10rem 10rem; 
}

.question-body {
  margin: 13rem 3rem 10rem 10rem; 
  width: 100%;
}

.color-body {
  margin: 12rem 3rem 15rem 8rem; 
}

.color-body {
  margin: 12rem 3rem 15rem 8rem; 
}

.landing-text {
  font-size: 16px;
}

.title {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
  font-size: 24px;
}

.landing-text p {
  text-align: center;
  text-align: justify;
}

.options-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.landing-text Button {
  margin: 0 15px; 
}

.landing-button {
  align-content: center;
}

/* 
  Questions 
*/
.next-btn {
  margin: 20px 50px 0 0;
  justify-content: center;
  float: right;
}
.question-text {
  font-size: 18px;
}

.question-submit{
  float: right;
}

.questions {
  display: flex;
  justify-content: left;
}

.answers-form { 
  padding: 2rem !important; 
}
/* 
  UNIVERSAL
*/
.hidden {
  display: none !important;
}

.gif {
  width: 360px;
  height: auto;
}

/* 
  COLORS
*/
.shape-container {
  display: flex;
  justify-content: center;
}

.shape-margin {
  margin-top: 2rem;
}

.submit-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  padding: 0 1rem 0 5rem; 
}

.color-picker {
  display: flex;
  justify-content: center;
  margin: 2rem 0; 
}

.circle-picker {
  border-right: solid #555 1px;
  padding-right: 120px;
}

.triangle{
	width: 0;
  height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 165px solid #555;
}

.inner-triangle {
  position: relative;
  top: 6.5px;
  left: -94px;
  bottom: 0px; 
  width: 0;
  height: 0;
  border-left: 94px solid transparent;
  border-right: 94px solid transparent;
  border-bottom: 155px solid lightgray;
}

.circle {
  border: solid #555 4px; 
  height: 165px;
  width: 165px;
  background-color: lightgrey;
  border-radius: 50%;
} 

.square {
  border: solid #555 4px; 
  height: 165px;
  width: 165px;
  background-color: lightgrey; 
}

.red {
  border: solid rgb(95, 0, 0) 4px; 
  background-color: #B80000 !important;
}

.blue {
  border: solid rgb(0, 34, 92) 4px; 
  background-color: #004DCF !important;
}

.yellow {
  border: solid rgb(144, 116, 1) 4px; 
  background-color: #FCCB00 !important;
}

.tri-red {
  border-bottom: 155px solid #B80000;
}

.tri-blue {
  border-bottom: 155px solid #004DCF;
}

.tri-yellow {
  border-bottom: 155px solid #FCCB00;
}

.border-yellow {
  border-bottom: 165px solid rgb(144, 116, 1);
}

.border-blue {
  border-bottom: 165px solid rgb(0, 34, 92);
}

.border-red {
  border-bottom: 165px solid rgb(95, 0, 0);
}

.responses {
  display: flex;
  justify-content: center;
}
.responses.row {
  padding-bottom: 2.5rem; 
}

.return-btn { 
  padding: 0rem 150px; 
  float: right;
  display: block;
}
.offset {
  -webkit-transform: translateY(-184px);
  transform: translateY(-184px);
}

.result-header {
  padding: 0rem 3rem 0rem 3rem; 
}
.result-header h3{
  font-size: 22px;
}
.color-about h3{
  font-size: 22px;
}
.color-about {
  padding: 0rem 3rem 0rem 3rem; 
}

.game-header {
  padding: 0 1rem 0 3rem; 
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	animation: fade-out 1s ease-out both;
}

.slide-top {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
	-webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.learn-more {
  color: #004DCF;
  font-size: 16px;
  padding-top: 5px; 
  padding-left: 20px; 
}
.learn-more:active {
  color: rgb(0, 40, 110);
}
.match-img {
  /* margin: auto;  */
  object-fit: cover;
  height: auto;
  width: 100%;
  float: right;
}
.img-col {
  display: flex;
}
.quiz-results {
  height: 450px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.result-headertext {
  padding-right: 30px !important; 
}
.results-text p{
  font-size: 16px;
}
.results-text h3{
  font-size: 18px;
}
.results-text h2{
  font-size: 26px;
  font-display: bold;
}
.return-home { 
  margin-top: 25px;
  margin-right: 10px !important; 
  float: right;
}

.results {  /* this is for color results */ 
  margin-right: 0 !important; 
}

.multichoice-img {
  padding: .5rem;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.clicked {
  border: #4D98EF 4px solid;
}
.frame {
  position: relative;
  width: 600px;
  height:45vh;
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-242px);
            transform: translateY(-242px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-242px);
            transform: translateY(-242px);
  }
}

/* CUSTOM RADIO */
.containerOuter {
  border-radius: 8px;
}
.container {
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 160px;
}
.hidden {
  display: none;
}
.entry {
  height: 25px;
  position: absolute;
  width: 600px;
}
.entry:nth-child(2) {
  left: 8px;
  top: 8px;
}
.entry:nth-child(4) {
  left: 8px;
  top: 58px;
}
.entry:nth-child(6) {
  left: 8px;
  top: 108px;
}
.entry:nth-child(8) {
  left: 8px;
  top: 158px;
}
.radio-circle {
  margin-top: 4px;
  border: 2px solid #545556;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  position: absolute;
  transition: border-color 300ms;
  width: 20px;
}
.entry-label {
  cursor: pointer;
  margin-top: 3px;
  font-size: 16px;
  padding-left: 40px;
  user-select: none;
  -moz-user-select: none;
}
.overlay {
  background: #FFFFF7;
  height: 190px;
  pointer-events: none;
  width: 40px;
}
.highlight {
  background: #4D98EF;
  border-radius: 50%;
  height: 12px;
  left: 12px;
  pointer-events: none;
  position: absolute;
  top: 12px;
  transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.2);
  transform: translateY(-50px);
  width: 12px;
}
.hidden:nth-child(1):checked ~ .highlight {
  transform: translateY(4px);
}
.hidden:nth-child(3):checked ~ .highlight {
  transform: translateY(54px);
}
.hidden:nth-child(5):checked ~ .highlight {
  transform: translateY(104px);
}
.hidden:nth-child(7):checked ~ .highlight {
  transform: translateY(154px);
}
.hidden:nth-child(1):checked + .entry .radio-circle {
  border-color: #4D98EF;
}
.hidden:nth-child(3):checked + .entry .radio-circle {
  border-color: #4D98EF;
}
.hidden:nth-child(5):checked + .entry .radio-circle {
  border-color: #4D98EF;
}
.hidden:nth-child(7):checked + .entry .radio-circle {
  border-color: #4D98EF;
}