
/*
  Landing
*/
.landing {
  position: fixed; 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('img/landing-bg.png');
}

.landing-text { 
  margin: 10rem 10rem 10rem 40rem;  
  float: left;
}

.landing-button {
  align-content: center;
}

/* 
  Questions 
*/

/* 
  UNIVERSAL
*/
.hidden {
  visibility: hidden;
}

.test {


}
