
/*
  Landing
*/
.landing {
  position: fixed; 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('img/landing-bg.png');
}

.landing-text {
  align-content: center;
}

.landing-button {
  align-content: center;
}

/* 
  Questions 
*/
